fastapi
opencv-python
Pillow
numpy
torch
torchvision
scikit-image
requests
uvicorn
validators
matplotlib
colour-science
setuptools 
mediapipe==0.10.5
scikit-learn
google-search-results
python-dotenv
scipy